<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cookbook_Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cookbook_Database.Properties.Settings.ConnectionString"
            connectionString="Data Source=.\Databases\RecipeDatabase.db;Version=3;" />
    </connectionStrings>
    <userSettings>
        <Cookbook_Database.Properties.Settings>
            <setting name="SearchString" serializeAs="String">
                <value />
            </setting>
            <setting name="RecipeType" serializeAs="String">
                <value />
            </setting>
            <setting name="IsImageVisible" serializeAs="String">
                <value>False</value>
            </setting>
        </Cookbook_Database.Properties.Settings>
    </userSettings>
</configuration>